@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,600,700,800,900&display=swap');

body {
    font-family: Inter, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header, footer {
    background-color: #f0f0f0;
    text-align: center;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

main {
    padding: 1em;
    flex: 1;
}

header {
    margin-bottom: 2em;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    color: #007bff;
}

section {
    margin-bottom: 2em;
}

footer {
    font-size: 0.8rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

.signature {
    display: flex;
    justify-content: center;
    width: 100%;

    padding: 20px;

    font-family: Roboto, sans-serif;
    font-size: 0.8rem;
}
.signature a {
    font-size: 0.9rem;
    color: #000;
    text-decoration-line: none;

    cursor: pointer;
    transition: 0.3s;
}
.signature a:hover {
    font-weight: 600;
}
